
body {
    background-color: #f0f0f0;
}

.container-fluid{
    background-color: #66b3ff;
}


.navbar {
    background-color: #66b3ff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
    color: #333333;
}

.search-bar {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}


.btn-warning {
    background-color: #ffcc00;
}

.navbar-link {
    margin-left: auto;
    text-decoration: none;
    color: #333333;
    font-weight: bold;
}

/* Responsive Design */
@media (max-width: 768px) {
    .search-bar {
        width: 100%; 
    }

    .navbar-link {
        margin-left: 0;
        text-align: right;
    }
}

.mensaje-bienvenida {
    font-size: 36px;
    font-weight: bold;
    color: #333333;
    text-align: center;
}

.mensaje-secundario {
    font-size: 24px;
    color: #666666;
    text-align: center;
}

.encabezado-pronostico {
    font-size: 28px;
    font-weight: bold;
    color: #333333;
}

.info-card {
    display: flex;
    justify-content: space-between;
}


.card-img-top {
    width: 100px;
    height: 100px;
}

.encabezado-card {
    display: flex;
    align-items: center;
}

.text-desc {
    padding-top: 20px;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info-card {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.info-card p {
    margin: 0;
    flex: 1; 
    text-align: center;
}
.card-title {
    text-align: center;
    margin-bottom: 10px;
}

.card-header {
    text-align: center;
}